/* Jacob Waller */
.dictorBranding {
	float: left;
	clear: left;
	background: rgb(0, 0 , 0);
	background: rgba(0, 0 , 0, 0.2);
	color: #fff;
	font-size: 0.7em;
	padding: 0.2em;
	width: 100%;
}

.dictorBranding img {
	vertical-align: middle;
}


.dictorLink.visible, .dictorTransc.visible {
    display: block;
}

.dictorLink.hover {
    color: #f00;
}

.dictorLink {
    position: absolute;
    display: none;
}

.dictor {
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.dictorActive {
    text-shadow: 0px 0px 2px #22aaff, 0px 0px 4px #22aaff;
    0px 0px 8px #22aaff;
}

.flash {
	background: #c00;
    -webkit-animation-name: flash;
    -webkit-animation-duration: 0.7s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
}
@-webkit-keyframes flash {

from {
		background: none;
        text-shadow: 0px 0px 1px #22aaff, 0px 0px 1px #22aaff, 0px 0px 1px #22aaff;
}

to {
        /*text-shadow: 0px 0px 4px #22aaff, 0px 0px 8px #22aaff, 0px 0px 10px #22aaff;*/
		background: none;
        text-shadow: 0px 0px 4px #f00, 0px 0px 8px #f00, 0px 0px 10px #f00;
}
}



.dictorTransc {
    -webkit-border-radius: 8px;
	-moz-border-radius: 8px;
    padding: 8px;
	position: absolute;
	z-index: 1337;
    display: none;
	/*text-shadow: 1px 1px 1px #fff;*/
}

/*.tapSwitch {
    background: url(http://79.99.1.153/dictor/pics/word.png) center center no-repeat;
    -webkit-background-size: 80%;
}*/

/*.tapSwitch {
    -webkit-border-top-left-radius: 20px;
    background: #22aaff url(http://79.99.1.153/dictor/pics/word.png) center center no-repeat;
    -webkit-background-size: 80%;
}

.tapExit {
    background: #22aaff;
    -webkit-border-bottom-left-radius: 20px;
}

.tapLang {
    background: #22aaff;
    -webkit-border-top-right-radius: 20px;
}

.tapHelp {
    background: #22aaff;
    -webkit-border-bottom-right-radius: 20px;
}*/

.dictorContainer, .dictorTransc, .dictorLink {
	background: rgb(115, 200, 255);
    background: rgba(115, 200, 255, 0.94);
	border: 2px solid rgb(34, 170, 255);
	border: 2px solid rgba(34, 170, 255, 1);
}

.dictorContainer {
	position: absolute;
	z-index: 1234;
    -webkit-border-top-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	border-top-left-radius: 20px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.dictor-desktop .dictorContainer {
	position: fixed;
	bottom: 0;
	right: 0;
}

.animTopLeft {
    -webkit-transition-property: top, left, width, height;
    -webkit-transition-duration: 0.4s;
}

.dictorLink {
    -webkit-border-radius: 8px;
	-moz-border-radius: 8px;
    color: #fff;
    padding: 4px;
    white-space: nowrap;
}

.multi {
    background: #22aaff url(http://79.99.1.153/dictor/pics/text.png) center center no-repeat;
}

.langPicker select {
    width: 40px;
    height: 40px;
    opacity: 0;
    position: absolute;
	left: 0;
	-webkit-appearance: none;
}

.langPicker {
    position: relative;
    width: 40px;
	height: 40px;
}

.langShow {
    position: absolute;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
	left: 0;
}

.tappables {
	/*width: 40px;*/
	min-width: 50px;
	padding: 5px;
    height: 40px;
	line-height: 40px;
    text-align: center;
	float: left;
	position: relative;
}

.dictorHide .dictorContainer {
	display: none;
}

/*.pickMenu {
	position: absolute;
	top: -45px;
	left: 15px;
	list-style: none;
	width: 300px;
	margin: 0;
	padding: 0;
}

.pickAll {
	-webkit-border-top-left-radius: 20px;
	-moz-border-radius-topleft: 20px;
	border-top-left-radius: 20px;	
}

.pickNone {
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-topright: 20px;
	border-top-right-radius: 20px;	
}

.pickMenu li {
	float: left;
	padding: 5px;
	background: #22aaff;
}*/



.dictorPicking .dictorPickable {
	background: url(http://79.99.1.153/dictor/pics/pickback.png) !important;
}

.dictorPicking .dictorPicked {
	background: url(http://79.99.1.153/dictor/pics/pickback_active.png) !important;	
}

.dictorPicking .dictorPicked .dictorPickable {
	background: url(http://79.99.1.153/dictor/pics/pickback_active.png) !important;	
}

.dictorPicking .pickPick {
	background: #070;
}
