
.flash {
 -webkit-animation-name: flash;
 -webkit-animation-duration: 1s;
 -webkit-animation-iteration-count: 10;
 -webkit-animation-direction: alternate;
}


@-webkit-keyframes flash {
 from {
   text-shadow: 0px 0px 2px #0a0;
 }

 to {
   text-shadow: 0px 0px 0px #0a0;
 }
}



