
.flash {
 -webkit-animation-name: flash;
 -webkit-animation-duration: 0.7s;
 -webkit-animation-iteration-count: infinite;
 -webkit-animation-direction: alternate;
}


@-webkit-keyframes flash {
 from {
   text-shadow: 0px 0px 1px #22aaff, 0px 0px 1px #22aaff, 0px 0px 1px #22aaff;
 }

 to {
   /*text-shadow: 0px 0px 4px #22aaff, 0px 0px 8px #22aaff, 0px 0px 10px #22aaff;*/
   text-shadow: 0px 0px 4px #f00, 0px 0px 8px #f00, 0px 0px 10px #f00;
 }
}

.dictorTransc {
	background: #22aaff; /* should be semi-transparent! */
	-webkit-border-radius: 8px;
	padding: 8px;
}

.tapSwitch {
	position: absolute;
	background: #22aaff;
	-webkit-border-top-left-radius: 20px;
}

.tapExit {
	position: absolute;
	background: #22aaff;
	-webkit-border-bottom-left-radius: 20px;
}

.animTopLeft {
  -webkit-transition-property: top, left, width, height;
  -webkit-transition-duration: 0.4s;
}

.dictorLink {
	background: #22aaff;
	-webkit-border-radius: 6px;
	color: #fff;
	padding: 4px;
	white-space: nowrap;
}
